* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #222;
  -webkit-font-smoothing: antialiased;
}
